{
    "extends": "./node_modules/kcd-scripts/eslint.js",
    "ignorePatterns":["lib/*"],
    "env":{
        "webextensions": true
    },
    "rules": {
        "testing-library/no-dom-import": "off"
    }
}
